@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




h1 {
    margin: 0;
}

.none {
    display: none;
}

form {
    width: 80px;
    height: 120px;
    margin: 8px 0;
    outline: 2px solid black;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  
  &::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
  }
  &::-moz-color-swatch {
    border-radius: 8px;
    border: none;
  }
  
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.contain-grille {
    display: flex;
    flex-wrap: wrap;
    width: 60vh;
    height: 60vh;
    padding: 1vh;
    border: 2PX black solid;
}

.case-color {
    width: 4%;
    height: 4%;
    border-radius: 50%;
    margin: 0.5%;
    outline: 0.01vh solid black;
}

.contain-color {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-choose {
    width: 15vw;
    height: 32px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    outline: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    margin: 8px;
    text-align: center;
}

.color-add {
    width: 15vw;
    height: 32px;
    outline: 2px solid black;
    border-radius: 6px;
    margin: 8px;
    text-align: center;
    font-size: 28px;
}

.contain-action {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.zoom-grille {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}